<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' data-ng-app='presto'>
  <head>
    <title>Presto!</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='fragment' content='!' />
    <base href='/' />
    <!-- <link rel='apple-touch-icon' href='/img/favicon-128.png' /> -->
    <!-- @todo Add in Bootstrap if we need it. -->
  </head>
  <body>
    <h1>Presto!</h1>
    <p>Fancy coffee stuffs coming soon.</p>
    <script src='public/js/vendor/angular.js'></script>
    <script src='public/js/vendor/angular-route.js'></script>
    <script src='public/js/vendor/angular-resource.js'></script>
    <script src='public/js/vendor/angular-mocks.js'></script>
    <script src='public/js/app/main.js'></script>
    <script src='public/js/app/routes.js'></script>
    <script src='public/js/app/controllers/homeController.js'></script>
    <script src='public/js/app/directives/linkDirective.js'></script>
    <script src='public/js/app/services/beverageService.js'></script>
  </body>
</html>
